

    
#    <center> <b> <span style="color:orange;" >  `Python for Scientific Computing and Software Engineering ` </span> </b></center>


## <center> <b> <span style="color:orange;"> An Initiation to Programming using Python (Init2Py) </span> </b></center>

### <center> <b> <span style="color:blue;"> Travaux Pratiques: Objets it√©rables ou conteneurs</span> </b></center>

###  <center> <b> <span style="color:blue;"> Listes </span> </b></center>

#### **Exercice 00:** 
>**D√©clarer une liste vide.**

In [ ]:
l=[]

Exercice 01:
D√©clarer une liste de plus de 5 √©l√©ments.**

In [3]:
g=[1, "u", 4, 5, "m", 5, 8,]
print(g)

[1, 'u', 4, 5, 'm', 5, 8]

#### **Exercice 02:** 
>**Trouver la longueur de votre liste.**

In [4]:
print(len(g))

7

#### **Exercice 03:** 
>**Obtenez le premier √©l√©ment, l'√©l√©ment central et le dernier √©l√©ment de la liste.**

In [9]:
g=[1, "u", 4, 5, "m", 5, 8,]
print(g[0])#premier element de la liste g
print(g[3])#element central car la longueur est impaire
print(g[-1])#dernier element

1
5
8

#### **Exercice 04:** 
>**D√©clarez une liste appel√©e mixed_data_types, mettez votre (nom, √¢ge, taille, √©tat civil, adresse).**

In [10]:
mixed_data_types=['KAM Olle Gregoire', 28, 1.75, 'celibataire', 'MBour']
print(mixed_data_types)

['KAM Olle Gregoire', 28, 1.75, 'celibataire', 'MBour']

#### **Exercice 05:** 

    1. D√©clarez une variable liste appel√©e it_companies et attribuez les valeurs initiales Facebook, Google, Microsoft, Apple, IBM, Oracle et Amazon.

    2. Imprimez la liste √† l'aide de print()

    3. Imprimez le nombre d'entreprises dans la liste

    4. Imprimez la premi√®re, la moyenne et la derni√®re entreprise

    5. Imprimez la liste apr√®s avoir modifi√© l'une des entreprises.

    6. Ajout d'une entreprise informatique √† it_companies

    7. Ins√©rer une entreprise informatique au milieu de la liste des entreprises

    8. Changez le nom d'une des it_companies en majuscule (sauf IBM !)

    9. Joignez les it_companies avec une cha√Æne '# ; '.

    10. V√©rifier si une certaine entreprise existe dans la liste it_companies.

    11. Trier la liste en utilisant la m√©thode sort()

    12. Inversez la liste par ordre d√©croissant √† l'aide de la m√©thode reverse().

    13. Supprimez les 3 premi√®res entreprises de la liste.

    14. Supprimez les 3 derni√®res entreprises de la liste.

    15. Supprimez la ou les entreprises informatiques du milieu de la liste.

    16. Supprimez la premi√®re entreprise informatique de la liste

    17. Supprimez la ou les entreprises informatiques du milieu de la liste.

    18. Retirer la derni√®re entreprise informatique de la liste

    19. Supprimez toutes les entreprises informatiques de la liste

    20. D√©truire la liste des entreprises informatiques

In [4]:
it_companies=['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']#question 1
print(it_companies)#question 2
print(len(it_companies))#question 3
print("La premiere entreprise est:",it_companies[0])#question 4\a
print("La deuxieme entreprise est:",it_companies[4])#question4\b
print("La derniere entreprise est:",it_companies[-1])#question 4\c
it_companies[1]='Gre'+it_companies[1]#question5
print(it_companies)#question5
it_companies=it_companies+ ['Instagram']#question6
print(it_companies)#question6
it_companies[3]='Lenovo'#question7
print(it_companies)#question7
it_companies[0]=it_companies[0].upper()#question8
print(it_companies)#question8
P='#'#question9
it_companies=P.join(it_companies)#question9
it_companies=it_companies.split(';')#question9
print(it_companies)#Question9
print('Samsung' in it_companies)#question10

['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']
7
La premiere entreprise est: Facebook
La deuxieme entreprise est: IBM
La derniere entreprise est: Amazon
['Facebook', 'GreGoogle', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']
['Facebook', 'GreGoogle', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon', 'Instagram']
['Facebook', 'GreGoogle', 'Microsoft', 'Lenovo', 'IBM', 'Oracle', 'Amazon', 'Instagram']
['FACEBOOK', 'GreGoogle', 'Microsoft', 'Lenovo', 'IBM', 'Oracle', 'Amazon', 'Instagram']
['FACEBOOK#GreGoogle#Microsoft#Lenovo#IBM#Oracle#Amazon#Instagram']
False

In [5]:
it_companies.sort()#question11
print(it_companies)#question11
it_companies.reverse()
print(it_companies)

['FACEBOOK#GreGoogle#Microsoft#Lenovo#IBM#Oracle#Amazon#Instagram']
['FACEBOOK#GreGoogle#Microsoft#Lenovo#IBM#Oracle#Amazon#Instagram']

#### **Exercice 06:** 
**Joindre les listes suivantes :**
     
         front_end = ['HTML', 'CSS', 'JS', 'React', 'Redux']  
         back_end = ['Node','Express', 'MongoDB']

In [7]:
front_end=['HTML', 'CSS', 'JS', 'React','Redux']
back_end=['note', 'Express','MongoDB']
L=front_end +back_end
L

['HTML', 'CSS', 'JS', 'React', 'Redux', 'note', 'Express', 'MongoDB']

#### **Exercice 07:** 
Voici une liste de 10 √¢ges d'√©tudiants :

         ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]
         
 
    1. Trier la liste et trouver l'√¢ge minimum et maximum.
    2. Ajoutez √† nouveau l'√¢ge minimum et l'√¢ge maximum √† la liste.
    3. Trouvez l'√¢ge m√©dian (un √©l√©ment du milieu ou deux √©l√©ments du milieu divis√©s par deux).
    4. Trouvez l'√¢ge moyen (somme de tous les √©l√©ments divis√©e par leur nombre).
    4. Trouver l'intervalle des √¢ges (max moins min)
    5. Comparez les valeurs de (min - moyenne) et (max - moyenne) en utilisant la m√©thode abs().

In [2]:
ages=[19, 22, 19, 24, 20, 25, 26, 24, 25, 24]
ages.sort()
print(ages)
print("l' age minimun est", ages[0])
print("l'age maximum est", ages[-1])
print("la longueur de la file est:", len(ages))
print("l'age median est:", (ages[5]+ages[6])/2)
m=(ages[0]+ages[1]+ages[2]+ages[3]+ages[4]+ages[5]+ages[6]+ages[7]+ages[8]+ages[9])/len(ages)
print("la moyenne arithemetique est:", m)
print("l'intervalle des ages est:", ages[-1]-ages[0])

[19, 19, 20, 22, 24, 24, 24, 25, 25, 26]
l' age minimun est 19
l'age maximum est 26
la longueur de la file est: 10
l'age median est: 24.0
la moyenne arithemetique est: 22.8
l'intervalle des ages est: 7

###  <center> <b> <span style="color:blue;"> Dictionnaires </span> </b></center>


1. Cr√©er un dictionnaire vide appel√© `dog`
2. Ajoute le nom, la couleur, la race, les pattes, l'√¢ge au dictionnaire dog.
3. Cr√©ez un dictionnaire student et ajoutez le pr√©nom, le nom, le sexe, l'√¢ge, l'√©tat civil, les comp√©tences, le pays, la ville et l'adresse comme cl√©s pour le dictionnaire.
4. Obtenez la longueur du dictionnaire student
5. R√©cup√©rez la valeur des comp√©tences et v√©rifiez le type de donn√©es, il doit s'agir d'une liste.
6. Modifiez les valeurs des comp√©tences en ajoutant une ou deux comp√©tences.
7. Obtenez les cl√©s du dictionnaire sous forme de liste
8. Obtenir les valeurs du dictionnaire sous forme de liste
9. Transformer le dictionnaire en une liste de tuples en utilisant la m√©thode items()
10. Supprimer un des √©l√©ments du dictionnaire
11. Supprimer un des dictionnaires

In [27]:
dog={}
dog
dog['nom']='Milou' 
dog['couleur']='noire'
dog['race']= 'european'
dog['patte']='longue'
dog['age']='3'
print(dog)
student={ 'prenom':'Gregoire', 'nom':'KAM', 'sexe':'masculin', 'age':'28', 'etat civil':'celibataire', 'competence':'mathematicien', 'pays':'Burkina Faso', 'ville':'Bobo Dsso', 'adresse':'Mbour'}
print(student.keys())
stud=student.values()
print(stud)
print("la longeur du dico est:",len(stud))
print(student['prenom'])
type(student['prenom'])
print(student['nom'])
print(student['sexe'])
student['competence']=['mathematician'  'physicien' 'informatician']

{'nom': 'Milou', 'couleur': 'noire', 'race': 'european', 'patte': 'longue', 'age': '3'}
dict_keys(['prenom', 'nom', 'sexe', 'age', 'etat civil', 'competence', 'pays', 'ville', 'adresse'])
dict_values(['Gregoire', 'KAM', 'masculin', '28', 'celibataire', 'mathematicien', 'Burkina Faso', 'Bobo Dsso', 'Mbour'])
la longeur du dico est: 9
Gregoire
KAM
masculin

AttributeError: 'dict' object has no attribute 'value'

<center> <b> <span style="color:orange;"> üéâ F√âLICITATIONS ! / CONGRATULATIONS !üéâ </span> </b></center>