In [1]:
#Exercice1
#(ii) Calculons la somme
n=int(input('saisir un entier naturel non nul'))
som, i=3,1
while(i<n):
    som=som+i
    i+=2
print(som)

saisir un entier naturel non nul79
1524

In [7]:
#Exercice2
jours=["lundi", "mardi", "mercredi", "jeudi", "vendredi", "weekend",  "weekend"]
i=int(input("saisir le numero d'un jour"))
print(jours[i])

saisir le numero d'un jour4
vendredi

In [10]:
#Exercice3
list=['janvier 31jours' ,'fevrier 28jours', 'Mars 31jours', 'Avril 30jours', 'Mai 31jours', 'Juin 30jours', 'Juillet 30jours', 'Aout 31jours', 'Septembre 30jours', 'Octobre 31jours' , 'Novembre 30jours', 'Decembre 31jours']
i=int(input("saisir le numero d'un mois comrpris entre 0 et 11"))
print(list[i])

saisir le numero d'un mois comrpris entre 0 et 117
Aout 31jours

In [13]:
#exercice4

for i in range(1,4):
    print('KAM Olle Gregoire')

KAM Olle Gregoire
KAM Olle Gregoire
KAM Olle Gregoire

In [14]:
#exercice4(bis)
i=0
while(i<3):
    print('KAM Olle Gregoire')
    i+=1

KAM Olle Gregoire
KAM Olle Gregoire
KAM Olle Gregoire

In [1]:
#Exercice5
a_0=int(input("Donner la valeur du premier terme" ))
a_1=int(input("Donner la valeur du dsecond terme"))
s,i=0,0
while(i<16):
    s=a_0+a_1
    a_0, a_1=a_1, s
    i+=1
    print(s)   #les termes de la suite de Fibo a partir de l'ordre 2 sont:#

Donner la valeur du premier terme1
Donner la valeur du dsecond terme1
2
3
5
8
13
21
34
55
89
144
233
377
610
987
1597
2584

In [4]:
#Exercice6

x_0=int(input("saisir le premier terme "))
x_1=int(input("saisir le deuxieme terme de la suite"))
i=2
#list=[]
for i in range(2,31):
    c=0.5*x_0+3*x_1
    x_0,x_1=x_1,c
    #list.append(c)
    print(c)

saisir le premier terme 2
saisir le deuxieme terme de la suite6
19.0
60.0
189.5
598.5
1890.25
5970.0
18855.125
59550.375
188078.6875
594011.25
1876073.09375
5925224.90625
18713711.265625
59103746.25
186668094.3828125
589556156.2734375
1862002516.0117188
5880785626.171875
18573358136.521484
58660467222.65039
185268080736.2119
585134475819.9609
1848037467827.9888
5836679641393.947
18434057658095.836
58220512794984.484
183878567214001.34
580745958039496.2
1834177157725489.5

In [5]:
#Exercice7(a)
n=int(input("saisir une annee"))
if(n%4==0^n%100!=0):
    print("l'annee est bissextile")
else:
    print("l'annee n'est pas bissextile")

saisir une annee2015
l'annee n'est pas bissextile

In [ ]:
#Exercice7(b)
n=int(input("saisir une annee"))

In [6]:
#Exercice8(a)
n=int(input("saisir un entier"))
som=0
for i in range(0,n):
    som=i**2+som
print(som)

saisir un entier5
30

In [1]:
#Exercice8(a)
n=int(input("saisir un entier"))
som=0
i=0
while(i<n):
    som=i**2+som
    i+=1
print(som)

saisir un entier5
30

In [14]:
#Exercice8(b)
M=int(input("saisir un entier"))
i,som=0,0
while(som<M):
    i+=1
    som=som+i**2
print(i)

saisir un entier8
3

In [ ]:
#Exercice8(b)
M=int(input("saisir un entier"))
i,som=0,0
for i in range(1,)

In [7]:
#Exercice8(b)
n=int(input("saisir un entier naturel non nul"))
for i in range(2,n):
    if(n%i==0):
        prrint("le nombre n'est premier")
else:
    print("le nombre est premier")

saisir un entier naturel non nul17
le nombre est premier

In [15]:
#Exercice9(a)
n=int(input("saisir un entier naturel non nul"))
for i in range(1,n+1):
    if(n%i==0):
        print(i)

saisir un entier naturel non nul8
1
2
4
8

In [1]:
#Exercice10
def table():
    f = int(input("Donner un nombre entre 0 et 9 :"))
    k = int(input("Donner le nombre de multiple :"))
    i = 0
    while i <= k:
        print(i, 'fois', f , '=', i*f)
        i+=1

In [2]:
table()

Donner un nombre entre 0 et 9 :5
Donner le nombre de multiple :2
0 fois 5 = 0
1 fois 5 = 5
2 fois 5 = 10

In [ ]:
#Exercice11
        if i%3==0 or i%7 ==0 or i%11==0:

In [ ]:
def part():
    r = float(input("donner un nombre réel :"))
    return (1+int(r-1))

In [3]:
#Exercice13
def cart():
    x = float(input("Donnee l'abscice du point :"))
    y = float(input("Donnee l'ordonnée du point :"))
    if x > 0 and y > 0:
        print(" le point de coordonnées","(",x,",",y,")","se situe dans le premier quadrant")
    elif x < 0 and y > 0:
        print("le point de coordonnées","(",x,",",y,")","se situe dans le deuxième quadrant")
    elif x < 0 and y < 0:
        print("le point de coordonnées","(",x,",",y,")","se situe dans le troisième quadrant")
    elif x > 0 and y < 0:
        print("le point de coordonnées","(",x,",",y,")","se situe dans le quatrième quadrant")
    else:
        print("le point se situe à l'origine du repère")

In [4]:
#Exercice14
def mult_n():
        while 1: # 1 est toujours vrai -> boucle infinie
                lettre = input (" Si vous voulez quittrer, Tapez 'q' sinon tapper autre chose: ")
                if lettre == "q":
                    print ("Merci da bien vouloir quitter ")
                    break
                else:
                    x = int(input("Donner un entier compris entre 0 et 9 :"))
                    while  x <0 or x > 9:
                        x = int(input("Donner un entier compris entre 0 et 9 :"))
                    max = int(input("Donner un nombre comprie entre 0 et 255 :"))
                    while max < 0 or max > 255:
                        max = int(input("Donner un nombre comprie entre 0 et 255 :"))
                    S = []
                    for i in range(max) :
                        if i%x==0:
                            S.append(i)
                    print(S)