<center>
    <a href="https://www.aims-senegal.org/" ><img src="aimssn_logo.png" style="float:center; max-width: 600px; display: inline" alt="IMSP"/> </a>
    </center>
    
#    <center> <b> <span style="color:orange;" >  `Python for Scientific Computing and Software Engineering ` </span> </b></center>


## <center> <b> <span style="color:orange;"> An Initiation to Programming using Python (Init2Py) </span> </b></center>

### <center> <b> <span style="color:blue;"> Practicals: Variables, Types & Operations </span> </b></center>

**Exercise 00:**  

> 1. Declare a variable `firstname` and assign it a value.
> 2. Declare a `lastname` variable and assign a value to it.
> 3. Declare a `full_name` variable and assign it a value.
> 4. Declare a `country` variable and assign it a value.
> 5. Declare a variable `city` and assign it a value.
> 6. Declare a `age` variable and assign it a value.
> 7. Declare a variable `year` and assign it a value.
> 8. Declare a variable `is_marrie` and assign it a value.
> 9. Declare a variable `is_true` and assign it a value.

> For each of the above variable, display the value it contains using the `print()` function.

In [10]:
firstname='Olle Gregoire'
lastname='KAM'
full_name='Legreka'
country='Burkina Faso'
city= 'Bobo Dioulasso'
age=29
year=2021
is_marrie= False
is_true='yes'
dico=[firstname,lastname, full_name, country, city, age, year, is_marrie, is_true]
print(dico)

['Olle Gregoire', 'KAM', 'Legreka', 'Burkina Faso', 'Bobo Dioulasso', 29, 2021, False, 'yes']

**Exercise 01:** 
> Check the data type of all your variables using the built-in function `type()`.**

In [11]:
dico=[firstname,lastname, full_name, country, city, age, year, is_marrie, is_true]
for i in dico:
    print(type(i))

<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'int'>
<class 'int'>
<class 'bool'>
<class 'str'>

**Exercise 02:** 
> Calculate the value of $y$ ($y = x^2 + 6x + 9$). Try using different values of $x$ and determine at what value of $x$ will $y$ be equal to 0.**

In [16]:
x=-3
y=x*x+6*x+9
print(y)

0

**Exercise 03:** 
>    
     1. Declare your age as an integer variable
     2. Declare your height as a float variable
     3. Declare a variable that stores the base and height of a triangle. Calculate the area of this triangle (area = 0.5 x b x h).

In [18]:
age=29
height=1.75
base=3
haut=2
Aire=base*haut*0.5
print(Aire)

3.0

## *Tip: receiving input from the user *
**To receive an input from the user, we use `input()`.**.

**Example**
Receive two numbers as input from the user and calculate their power:
```python
base = input("Enter a base: ")
exponent = input("Enter an exponent: ")
result = float(base) ** float(exponent)
print(f "{base} to the power of {exponent} = {result}")
```

**Exercise 04:** 
> **Write a small code that asks the user to enter the side $a$, the side $b$ and the side $c$ of a triangle. Calculate the perimeter of the triangle (perimeter = a + b + c).**

In [19]:
a=input("entrer le cote a")
b=input("entrer le cote b")
c=input("entrer le cote c")
perimetre=int(a)+int(b)+int(c)
print(perimetre)

entrer le cote a2
entrer le cote b3
entrer le cote c6
11

**Exercise 05:** 
> **Obtain the length and width of a rectangle using the prompt. Calculate its `area`and its `perimeter`.**

In [23]:
L=input("entrer la longueur")
l=input("entrer la largeur")
perimetre= 2*(float(L)+float(l))
Aire=float(L)*float(l)
print( perimetre)
print( Aire)

entrer la longueur4
entrer la largeur2
12.0
8.0

**Exercice 06:** 
> **Obtenez le rayon d'un cercle en utilisant l'invite. Calculez l'aire (aire = pi x r x r) et la circonférence (c = 2 x pi x r) où pi = 3,14.**

In [25]:
r=input("saisir le rayon")
Aire= 3.14*float(r)*float(r)
print(Aire)

saisir le rayon5
78.5

**Exercice 07:**
> **Calculez la pente, l'ordonnée à l'origine en x et l'ordonnée à l'origine en $y$ de $y = 2x -2$.**

In [23]:
a=input("saisir une valeur")
b=input("saisir une autre valeur")
y=(2*float(a)-2*float(b))/(float(a)-float(b))
print("la pente est", y)
y_0=2*0-2
print("l'ordonnee a l'origine est en x est", y_0)
print("l'ordonnee a l'origine en y est", 1)

saisir une valeur5
saisir une autre valeur9
la pente est 2.0
l'ordonnee a l'origine est en x est -2
l'ordonnee a l'origine en y est 1

**Exercice 08:** 
> **Rédigez un script qui demande à l'utilisateur d'entrer les heures et le taux horaire. Calculez la rémunération de la personne ?**

In [1]:
h=input("entrer une heure")
t=input("donner le taux horaire")
gain=float(h)*float(t)
print("la renumeration est", gain)

entrer une heure4
donner le taux horaire50
la renumeration est 200.0

**Exercice 09:** 
> **Écrivez un script qui demande à l'utilisateur d'entrer le nombre d'années. Calculez le nombre de secondes qu'une personne peut vivre. Supposons qu'une personne puisse vivre cent ans.**

In [3]:
an=input("donner le nombre d'annees")
nbre_seconde=int(an)*31536000 #On suppose que l'annee compte 365jours.
nbre_seconde

donner le nombre d'annees5

157680000

**Exercice 10:** 
> **Écrivez un script Python qui affiche le tableau suivant**

    1 1 1 1 1
    
    2 1 2 4 8
    
    3 1 3 9 27
    
    4 1 4 16 64
    
    5 1 5 25 125

In [26]:
for i in range(1,6):
   print(i, 1, i, i**2,i**3)
   print('\n')

1 1 1 1 1


2 1 2 4 8


3 1 3 9 27


4 1 4 16 64


5 1 5 25 125

**Exercise 11:** 
>**Assign the variables `time` and `distance` with the values $6.892$ and $19.7$. Calculate and display the value of the speed. Improve the display by imposing a digit after the decimal point.**

In [1]:
t=input("saisir un temps t") # on suppose que le temps est en seconde et non nul
d=input("saisir une distance d") # on suppose que la distance est en metre
v=round(float(d)/float(t),1)
v

saisir un temps t4
saisir une distance d2

0.5

**Exercice 12:** 
> **Écrire un programme qui, à partir de la saisie d’un rayon et d’une hauteur, calcule levolume d’un cône droit.**

In [2]:
r=input("saisir le rayon")
h=input("saisir la hauteur")
v=3.14*float(r)*float(r)*float(h)/3
v

saisir le rayon4
saisir la hauteur5

83.73333333333333

**Exercise 13:** 
> **The user gives a positive integer and the program announces how many times in a row this integer is divisible by 2.**

In [18]:
x=input("saisir un entier positif ")
y=int(x)%2
a=int(x)/2
if y==0:
  print("le nombre d'occurrence est", a)
else:
   print("le nombre saisi n'est pas multiple de 2")

saisir un entier positif 7
le nombre saisi n'est pas multiple de 2

**Exercise 14:** 
>**The user gives an integer between 2 and 12, the program gives the number of ways to do this by rolling two dice.

**Exercice 15:** 
> **Utilisez la fonction d'entrée intégrée `input()` pour obtenir le `_prénom_`, le `_nom_`, le `_pays_d_origine` et l'`_age_` d'un utilisateur et stockez la valeur dans les noms des variables correspondantes.**

In [ ]:
prenom=input("saisir le prenom")
nom=input("saisir le nom")
pays_d_origine=input("saisir le pays d'origine")
age=input("saisir l'age")
print("prenom est:",prenom)
print("le nom est:",nom)
print("le pays d'origine est:",pays_d_origine)
print("l'age est:",age)

**Exercice 16:** 

**Déclarer $5$ comme `num_one` et $4$ comme `num_two`**

   1. Additionner `num_one` et `num_two` et affecter la valeur à une variable `totale`.
   2. Soustraire `num_two` de `num_one` et affecter la valeur à une variable `diff`.
   3. Multipliez le `num_one` et le `num_two` et attribuez la valeur à une variable `produit`.
   4. Divisez le `num_one` par le `num_two` et attribuez la valeur à une variable `division`.
   5. Calculez `num_one` à la puissance de `num_two` et attribuez la valeur à une variable `exp`.

In [1]:
num_one=5
num_two=4
totale= float(num_one)+float(num_two)
diff=float(num_one)-float(num_two)
produit=float(num_one)*float(num_two)
division=float(num_one)/float(num_two)
exp=5*5*5*5
print("la somme est:",totale)
print("la difference est:", diff)
print("le produit est :", produit)
print("le quotient est:", division)
print("la puissance est:", exp)

la somme est: 9.0
la difference est: 1.0
le produit est : 20.0
le quotient est: 1.25
la puissance est: 625

<center> <b> <span style="color:orange;"> 🎉 FÉLICITATIONS! / CONGRATULATIONS! 🎉 </span> </b></center>